* {
    padding: 0;
    margin: 0;
}

.main {
    height: 270px;
    width: 215px;
    border: 2px solid black;
    margin: 100px 0 0 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(43, 41, 41);
}

.res {
    height: 40px;
    width: 213px;
    border: 1px solid rgb(70, 68, 68);
    margin-bottom: 20px;
    color: white;
    text-align: end;
}

.btn {
    height: 35px;
    width: 50px;
    background-color: rgb(77, 76, 76);
    color: white;
    border-radius: 10%;
}

#equal {
    background-color: skyblue;
    color: black;
}

#equal:hover {
    background-color: rgb(77, 158, 190);
}

.btn:hover {
    background-color: rgb(105, 104, 104);
}